{% extends "layout.html" %} {% block content %}
<script defer src="{{ url_for('static', filename='js/main.js') }}"></script>

<!-- Navbar -->
<header class="bg-cyan-500 text-white p-4 shadow-lg">
  <div class="container mx-auto flex justify-between items-center">
    <h1 class="text-2xl font-bold">Central Health Budgeting</h1>
    <nav>
      <ul class="flex items-end space-x-6">
        <!-- Change items-bottom to items-end -->
        <li><a href="#" class="hover:underline">Tutorial</a></li>
        <li><a href="#" class="hover:underline">Contact Support</a></li>
        <button
          id="adminLoginBtn"
          class="bg-teal-600 text-white font-semibold py-2 px-4 rounded transition duration-300 hover:bg-teal-700 hover:shadow-md focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-teal-500"
        >
          <i class="fas fa-sign-in-alt mr-2"></i>
          Admin Login
        </button>
      </ul>
    </nav>
  </div>
</header>

<!-- Main Section -->
<main class="container mx-auto py-16 text-center">
  <h2 class="text-4xl font-bold text-teal-900 mb-4">
    Efficient Budgeting Made Easy
  </h2>
  <p class="text-lg text-gray-700 mb-8">
    Take control of your health expenses with our smart budgeting tools and stay
    on top of your finances effortlessly.
  </p>
  <div class="w-1/4 flex flex-col justify-center items-center mx-auto gap-3">
    <label for="businessUnit">Department:</label>
    <select
      id="businessUnit"
      name="businessUnit"
      class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline bg-white"
    >
      <option value="" disabled selected>--Select Business Unit--</option>
      {% for unit in picklist.BUSINESS_UNIT_IDS %}
      <option class="hover:bg-teal-100" value="{{ unit[0] }}">
        {{ unit[1] }}
      </option>
      {% endfor %}
    </select>

    <label for="fiscalYear">Fiscal Year:</label>
    <select
      id="fiscalYear"
      name="fiscalYear"
      class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline bg-white"
    >
      <option value="" disabled selected>--Select Fiscal Year--</option>
      {% for year in picklist.FISCAL_YEARS %}
      <option class="hover:bg-teal-100" value="{{ year[0] }}">
        {{ year[0] }}
      </option>
      {% endfor %}
    </select>
    <button
      id="getStarted"
      type="button"
      class="bg-cyan-500 text-white py-3 px-6 rounded-full shadow-md hover:bg-cyan-600"
    >
      Get Started
    </button>
  </div>
</main>

<!-- Features Section -->
<section class="bg-teal-200 py-12">
  <div class="container mx-auto text-center">
    <h3 class="text-3xl text-teal-800 font-semibold mb-8">Why Choose Us?</h3>
    <div class="grid grid-cols-1 md:grid-cols-3 gap-8">
      <div class="p-6 bg-white shadow-lg rounded-lg">
        <h4 class="text-xl font-bold text-teal-700 mb-4">Track Expenses</h4>
        <p class="text-gray-700">
          Easily track and categorize your health expenses in one place.
        </p>
      </div>
      <div class="p-6 bg-white shadow-lg rounded-lg">
        <h4 class="text-xl font-bold text-teal-700 mb-4">Set Budget Goals</h4>
        <p class="text-gray-700">
          Set and monitor your budget goals to stay financially healthy.
        </p>
      </div>
      <div class="p-6 bg-white shadow-lg rounded-lg">
        <h4 class="text-xl font-bold text-teal-700 mb-4">Detailed Reports</h4>
        <p class="text-gray-700">
          Get comprehensive insights and reports for better decision-making.
        </p>
      </div>
    </div>
  </div>
</section>

<!-- Footer -->
<footer class="bg-cyan-500 text-white p-6 text-center">
  <p>&copy; 2024 Central Health Budgeting. All rights reserved.</p>
</footer>

{% endblock content %}
