<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css"></link>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='assets/favicon.png') }}">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/5.0.7/jquery.inputmask.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <script src="{{url_for('main.static', filename='js/toastr.js')}}"></script>
  </head>
  
  <!-- flashed messages -->
  <div id="flashMessagesContainer">
      {% with messages = get_flashed_messages(with_categories=true) %}
      <div>
          {% if messages %}
              {% for category, message in messages %}
                  <script>
                      showToast({{ message|tojson }}, {{ category|tojson }});
                  </script>
              {% endfor %}
          {% endif %}
      </div>
      {% endwith %}
  </div>

  <body class="m-10 p-6">
    <main role="main">
        {% block content %}{% endblock %}
    </main>
  </body>
</html>
