{% extends "indexDashboard.html" %} {% block section %}
<script
  defer
  src="{{ url_for('dashboard.static', filename='js/addUsers.js') }}"
></script>

<div class="flex items-start justify-center">
  <div class="container flex flex-row text-teal-700">
    <div class="flex-col w-full">
      <div class="h-96 overflow-auto mx-auto p-6">
        <h1 class="p-2 my-5 text-teal-700 text-3xl border-b border-stone-100">
          Add Users to Assigned Business Units
        </h1>
        {% if users %}
        <table
          id="masterEmailTable"
          class="top-0 sticky table table-bordered border-collapse w-full"
        >
          <thead>
            <tr>
              <th class="p-2 bg-cyan-600 text-white">Username</th>
              <th class="p-2 bg-cyan-600 text-white">Email</th>
              <th class="p-2 bg-cyan-600 text-white">Name</th>
              <th class="p-2 bg-cyan-600 text-white">Creator</th>
              <th class="p-2 bg-cyan-600 text-white">Business Units</th>
              <th class="p-2 bg-cyan-600 text-white">Date Created</th>
              <th class="p-2 bg-cyan-600 text-white">Action</th>
            </tr>
          </thead>
          <tbody>
            {% for row in users %}
            <tr>
              <td class="whitespace-nowrap px-2 py-1">{{ row.Username }}</td>
              <td class="whitespace-nowrap px-2 py-1">{{ row.Email }}</td>
              <td class="whitespace-nowrap px-2 py-1">{{row.Name}}</td>
              <td class="whitespace-nowrap px-2 py-1">
                {{row.UserCreatorName}}
              </td>
              <td class="whitespace-nowrap px-2 py-1 text-center">
                <i
                  class="fas fa-business-time"
                  data-tippy-content="{% for value in row.BusinessUnits.split(',') %}
                  {{value}}
                  {% endfor %}"
                ></i>
              </td>
              <td class="whitespace-nowrap px-2 py-1">{{ row.DateCreated }}</td>
              <td class="whitespace-nowrap px-2 py-1 flex justify-between">
                <button
                  edit
                  rowId="{{ row.Id }}"
                  class="text-blue-500 hover:text-blue-700 focus:outline-none"
                  title="Edit"
                >
                  <i class="fas fa-edit"></i>
                </button>
                <button
                  delete
                  rowId="{{ row.Id }}"
                  class="text-red-500 hover:text-red-700 focus:outline-none"
                  title="Delete"
                >
                  <i class="fas fa-trash-alt"></i>
                </button>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        {% else %}
        <h1 class="text-6xl">No regular user emails found. 😔</h1>
        {% endif %}
      </div>
      <div class="container mx-auto p-6">
        <button
          create
          type="button"
          class="my-3 flex items-center bg-teal-500 text-white font-semibold py-2 px-4 rounded hover:bg-teal-600 transition duration-300"
        >
          <i class="fas fa-plus mr-2"></i>
          Create New
        </button>
      </div>
    </div>
  </div>
</div>

{% if modal_html %} {{ modal_html | safe }} {% endif %} {% endblock section %}
