{% extends "indexDashboard.html" %} {% block section %}

<script src="{{url_for('dashboard.static', filename='js/budgetAdminView.js')}}"></script>

<form action="{{url_for('dashboard.budget_admin_view')}}" , method="post">

  {{form.hidden_tag()}}

  <div class="flex justify-between items-end my-5 border-b-2 border-stone-100 pb-5">
    <div create class="bg-cyan-600 text-white font-bold flex items-center justify-center w-8 h-8 rounded-full 
        hover:bg-cyan-700 focus:outline-none focus:ring-2 focus:ring-cyan-900 cursor-pointer">
      <i class="fas fa-plus"></i>
    </div>
    <div>
      {{ form.submit(class="bg-teal-500 text-white font-bold py-2 px-4 rounded
      hover:bg-teal-600 focus:outline-none focus:ring-2 focus:ring-teal-400
      cursor-pointer") }}
    </div>
  </div>

  <div class="h-dvh">
    <div class="h-1/2 overflow-x-auto ">
      <table class="min-w-full">
        <thead class="text-center sticky z-10 top-0 bg-cyan-600 text-white">
          <tr>
            <th class="py-2 px-4 border-b">Display Order</th>
            <th class="py-2 px-4 border-b">Account No</th>
            <th class="py-2 px-4 border-b">Account</th>
            <th class="py-2 px-4 border-b">
              <div class="relative inline-block group">
                <i class="text-amber-500 far fa-question-circle mr-2 cursor-pointer">
                  <div
                    class="absolute left-10 transform -translate-y-1/4 mt-2 w-48 bg-gradient-to-b from-cyan-800 to-teal-800 text-white text-sm shadow-lg rounded-md p-2 opacity-0 transition-opacity duration-300 ease-in-out pointer-events-none group-hover:opacity-100"
                    style="font-family: 'Baskerville', sans-serif;">
                    If the RAD displays "Null", then no subtotal row will be computed when displayed for the end user.
                  </div>
                </i>
                <span class="mr-2">RAD</span>
              </div>

            </th>
            <th class="py-2 px-4 border-b">
              <div class="relative inline-block">
                <div class="relative inline-block group">
                  <i class="text-amber-500 far fa-question-circle mr-2 cursor-pointer">
                    <div
                      class="absolute left-10 transform -translate-y-1/4 mt-2 w-48 bg-gradient-to-b from-cyan-800 to-teal-800 text-white text-sm shadow-lg rounded-md p-2 opacity-0 transition-opacity duration-300 ease-in-out pointer-events-none group-hover:opacity-100"
                      style="font-family: 'Baskerville', sans-serif;">
                      The forecast multiplier will always multiply the actual that is matched for the AccountNo and RAD
                      row
                      into forecast amount for the end user.
                    </div>
                  </i>
                  <span class="mr-2">Forecast Multiplier</span>
            </th>
            <th class="py-2 px-4 border-b">Forecast Comments</th>
            <th class="py-2 px-4 border-b">Action</th>
          </tr>
        </thead>
        <tbody id="budget-entries" class="divide-y">
          {% for sub_form in form.budget_entries %}
          <tr data-id="{{ loop.index }}" draggable="true"
            class="text-stone-300 hover:bg-stone-200 hover:text-stone-900 transition-colors duration-50 ease-in-out">
            {{sub_form.hidden_tag()}}
            <td class="py-2 px-4">
              {{ sub_form.display_order(readonly=true, class="bg-inherit w-full text-center
              border-none font-bold italic focus:outline-none focus:ring-0")}}
            </td>
            <td class="py-2 px-4">{{ sub_form.account_no.data }}</td>
            <td class="py-2 px-4">{{ sub_form.account.data }}</td>
            <td class="py-2 px-4">
              {% if not sub_form.rad.data%}
              <span class="text-stone-300 italic">Null</span>
              {% else %}
              {{ sub_form.rad.data }}
              {% endif %}
            </td>
            <td class="py-2 px-4 text-black">
              {{ sub_form.forecast_multiplier(class="bg-inherit w-full border-none focus:outline-none focus:ring-0") }}
            </td>
            <td class="py-2 px-4 text-black">{{ sub_form.forecast_comments(class="bg-inherit w-full
              border-none focus:outline-none focus:ring-0") }}
            </td>
            <td class="text-center py-2 px-4">
              <i delete rowId="{{sub_form.data['id']}}"
                class="rounded-full text-rose-500 hover:text-rose-700 fas fa-minus-circle cursor-pointer"></i>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</form>

{% if modal_html %}
{{ modal_html | safe }}
{% endif %}

{% endblock section %}