{% extends "layout.html" %} {% block content %}

<script defer src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdn.jsdelivr.net/npm/moment/min/moment.min.js"></script>
<script defer src="{{ url_for('static', filename='js/chart.js') }}"></script>

<div class="flex flex-row justify-between bg-teal-500 text-white p-6">
  <div>
    <h1 class="text-2xl font-bold">Welcome {{ current_user.first_name }}!</h1>
    <nav class="mt-4">
      <ul class="flex space-x-4">
        <li class="px-2 border-r-2 border-teal-200">
          <a
            href="{{ url_for('main.home') }}"
            class="text-teal-200 hover:text-teal-100"
          >
            <i class="fas fa-home mr-2"></i>Home
          </a>
        </li>
        <li class="px-2 border-r-2 border-teal-200">
          <a
            href="{{ url_for('auth.logout') }}"
            class="text-teal-200 hover:text-teal-100"
          >
            <i class="fas fa-sign-out-alt mr-2"></i> Logout
          </a>
        </li>
        <li class="px-2 border-r-2 border-teal-200">
          <a
            href="{{ url_for('auth.account') }}"
            class="text-teal-200 hover:text-teal-100"
          >
            <i class="fas fa-user-circle mr-2"></i> Account
          </a>
        </li>
        <li class="px-2">
          <a
            href="{{ url_for('dashboard.add_users') }}"
            class="text-teal-200 hover:text-teal-100"
          >
            <i class="fas fa-users mr-2"></i> Add Department User Accounts
          </a>
        </li>
      </ul>
    </nav>
  </div>
  <div class="flex items-center mb-6">
    <img
      class="rounded-full w-10 h-10 object-cover mr-4"
      src="data:image/jpeg;base64,{{ image_file }}"
      alt="User Image"
    />
    <div class="flex-col">
      <h2 class="truncate text-2xl font-bold whitespace-nowrap">
        {% if current_user.is_root_user == 1 %}
        <span class="text-amber-400"><i class="fas fa-crown"></i> Admin </span>
        <div>{{ current_user.username }}</div>
        {% else %} {{ current_user.username }} {% endif %}
      </h2>
      <p class="truncate break-words">{{ current_user.email }}</p>
    </div>
  </div>
</div>
<div class="relative overflow-hidden w-full my-5 p-6">
  <div
    id="canvasSlider"
    class="flex transition-transform duration-500 ease-in-out"
  >
    <div class="flex-shrink-0 w-full">
      <canvas id="budgetPieChart" width="400" height="400"></canvas>
    </div>
    <div class="flex-shrink-0 w-full">
      <canvas id="anotherChart" width="200" height="200"></canvas>
    </div>
    <!-- Add more canvases as needed -->
  </div>

  <button
    id="prevBtn"
    class="absolute left-0 bottom-0 transform -translate-y-1/2 bg-cyan-500 text-white px-4 py-2 rounded transition-colors duration-300 ease-in-out hover:bg-cyan-600"
  >
    <i class="fas fa-arrow-left"></i>
  </button>
  <button
    id="nextBtn"
    class="absolute right-0 bottom-0 transform -translate-y-1/2 bg-cyan-500 text-white px-4 py-2 rounded transition-colors duration-300 ease-in-out hover:bg-cyan-600"
  >
    <i class="fas fa-arrow-right"></i>
  </button>
</div>

{% include('charts.html') %} {% endblock content %}
