.hamburger {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 40px;
    height: 6px;
    margin: 5px auto;
    background-color: #fff;
    transition: all 0.3s ease-in-out;
}

@media only screen and (max-width: 768px) {
    .hamburger {
        display: block;
    }

    .nav-menu {
        display: none;
        position: fixed;
        top: 5rem;
        left: 10%;
        flex-direction: column;
        background: linear-gradient(120deg, #0d8cb5, #047a99, #4550de);
        background-size: 200% 2000%;
        animation: linear-swipe 6s infinite linear;
        width: fit-content;
        text-align: left;
        padding: 1rem;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
        transition: transform 0.3s ease;
        border-radius: 5px;
        font-size: 0.75rem;
    }

    @keyframes swirl {
        0% {
            background-position: 0% 0%;
        }

        50% {
            background-position: 100% 100%;
        }

        100% {
            background-position: 0% 0%;
        }
    }

    .nav-menu.active {
        display: flex;
    }

    .nav-link {
        color: #fff;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(11px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-11px) rotate(-45deg);
    }
}