{% if data %}
<div class="fade-in-from-right w-full overflow-x-auto my-5">
  <div class="flex justify-end gap-4 my-3">
    <button id="downloadBtn" type="button"
      class="p-3 text-stone-400 bg-white shadow-md rounded-md hover:shadow-lg hover:text-stone-500 transition ease-in-out duration-200"
      onclick="getCSVFile()">

      <i class="fas fa-download"></i>
    </button>
    <button id="copyBtn" type="button"
      class="p-3 text-stone-400 bg-white shadow-md rounded-md hover:shadow-lg hover:text-stone-500 transition ease-in-out duration-200"><i
        class="far fa-copy"></i></button>
  </div>
  <table class="w-full border-collapse w-full">
    <thead>
      <tr class="font-bold text-white bg-cyan-600 p-2">
        <th class="p-2">AccountNo</th>
        <th class="p-2">Account</th>
        <th class="p-2">Total Actual</th>
        <th class="p-2">Total Budget</th>
        <th class="p-2">Variance</th>
      </tr>
    </thead>
    <tbody>
      {% for row in data %}
      <tr
        class="cursor-default text-stone-500 p-2 odd:bg-white even:bg-stone-50 transition duration-50 ease-in-out hover:bg-stone-100">
        <td class="p-1 italic">{{ row.AccountNo }}</td>
        <td class="p-1">{{ row.Account }}</td>
        <td class="p-1">{{ row.TotalActual }}</td>
        <td class="p-1">{{ row.TotalBudget }}</td>
        <td class="p-1 italic">
          {% if '-' in row.Variance %} <div class="text-rose-500">{{ row.Variance }}
          </div>
          {% else %}
          <div class="text-emerald-500">{{ row.Variance }}</div>
          {% endif %}
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% else %}
<h1
  class="fade-in-from-right text-center text-3xl bg-gradient-to-r from-rose-300 to-red-600 bg-clip-text text-transparent font-bold">
  No data found!
</h1>
{% endif %}