{% extends "layout.html" %} {% block content %}
<div class="flex justify-center">
  <div
    class="text-teal-700 content-section p-6 bg-white rounded-lg shadow-md w-1/3 flex-col justify-center overflow-hidden"
  >
    <div class="mb-3 hover:underline">
      <a href="{{ url_for('dashboard.home') }}">
        <i class="fas fa-arrow-left"></i> Back
      </a>
    </div>

    <div class="flex items-center mb-6 border-b border-stone-200 pb-3 w-full">
      <img
        class="rounded-full w-10 h-10 object-cover mr-4"
        src="data:image/jpeg;base64,{{ image_file }}"
        alt="User Image"
      />
      <div class="flex-col">
        <h2 class="truncate text-2xl font-bold whitespace-nowrap">
            {% if current_user.is_root_user == 1 %}
            <span class="text-amber-400"><i class="fas fa-crown"></i> Admin </span>
            <div>
              {{ current_user.username }}
            </div>
            {% else %}
            {{ current_user.username }}
            {% endif %}
        </h2>
        <p class="truncate text-stone-500 break-words">
          {{ current_user.email }}
        </p>
      </div>
    </div>

    <form
      method="POST"
      action="{{ url_for('auth.account') }}"
      enctype="multipart/form-data"
    >
      {{ form.hidden_tag() }}
      <fieldset class="mb-4">
        <div class="mb-4">
          {{ form.username.label(class="block text-sm font-bold mb-2") }} {% if
          form.username.errors %} {{ form.username(class="mt-1 block w-full p-2
          border border-red-500 rounded-lg focus:outline-none focus:ring-2
          focus:ring-teal-400") }}
          <div class="text-red-500 mt-1 text-sm">
            {% for error in form.username.errors %}
            <span>{{ error }}</span>
            {% endfor %}
          </div>
          {% else %} {{ form.username(class="mt-1 block w-full p-2 border
          border-gray-300 rounded-lg focus:outline-none focus:ring-2
          focus:ring-teal-400") }} {% endif %}
        </div>

        <div class="mb-4">
          {{ form.email.label(class="block text-sm font-bold mb-2") }} {% if
          form.email.errors %} {{ form.email(class="mt-1 block w-full p-2 border
          border-red-500 rounded-lg focus:outline-none focus:ring-2
          focus:ring-teal-400") }}
          <div class="text-red-500 mt-1 text-sm">
            {% for error in form.email.errors %}
            <span>{{ error }}</span>
            {% endfor %}
          </div>
          {% else %} {{ form.email(class="mt-1 block w-full p-2 border
          border-gray-300 rounded-lg focus:outline-none focus:ring-2
          focus:ring-teal-400") }} {% endif %}
        </div>

        <div class="mb-4">
          {{ form.first_name.label(class="block text-sm font-bold mb-2") }} {%
          if form.first_name.errors %} {{ form.first_name(class="mt-1 block
          w-full p-2 border border-red-500 rounded-lg focus:outline-none
          focus:ring-2 focus:ring-teal-400") }}
          <div class="text-red-500 mt-1 text-sm">
            {% for error in form.first_name.errors %}
            <span>{{ error }}</span>
            {% endfor %}
          </div>
          {% else %} {{ form.first_name(class="mt-1 block w-full p-2 border
          border-gray-300 rounded-lg focus:outline-none focus:ring-2
          focus:ring-teal-400") }} {% endif %}
        </div>

        <div class="mb-4">
          {{ form.last_name.label(class="block text-sm font-bold mb-2") }} {% if
          form.last_name.errors %} {{ form.last_name(class="mt-1 block w-full
          p-2 border border-red-500 rounded-lg focus:outline-none focus:ring-2
          focus:ring-teal-400") }}
          <div class="text-red-500 mt-1 text-sm">
            {% for error in form.last_name.errors %}
            <span>{{ error }}</span>
            {% endfor %}
          </div>
          {% else %} {{ form.last_name(class="mt-1 block w-full p-2 border
          border-gray-300 rounded-lg focus:outline-none focus:ring-2
          focus:ring-teal-400") }} {% endif %}
        </div>

        <div class="mb-4 rounded-md border-2 text-teal-700 border-2 border-teal-700 border-dashed p-2">
          <label
            class="block font-medium mb-2"
            for="{{ form.picture.id }}"
            >{{ form.picture.label.text }}</label
          >
          <div>
            <input
              type="file"
              id="{{ form.picture.id }}"
              name="{{ form.picture.name }}"
              class="block w-full text-md file:border-none file:text-white file:mr-4 file:py-2 file:px-4 file:rounded-md file:cursor-pointer file:bg-teal-500 hover:file:bg-teal-600"
            />
          </div>
          <div>
            {% if form.picture.errors %}
            <div class="text-red-500 mt-1 text-sm">
              {% for error in form.picture.errors %}
              <span>{{ error }}</span><br />
              {% endfor %}
            </div>
            {% endif %}
          </div>
        </div>
      </fieldset>

      <div class="flex justify-end">
        <button
          class="flex items-center justify-center bg-teal-500 text-white font-bold py-2 px-4 rounded hover:bg-teal-600 focus:outline-none focus:ring-2 focus:ring-teal-400 focus:ring-opacity-75"
        >
          <i class="fas fa-paper-plane mr-2"></i>
          Submit
        </button>
      </div>
  </div>
</div>
{% endblock content %}
