:root {
  font-family: "Baskerville", sans-serif;
}

*::selection {
  background-color: #0e7490;
  color: #ffffff;
}

#navbar {
  transition: transform 0.3s ease;
}

.fade-in-down {
  opacity: 0;
  animation: fadeInDown 0.5s forwards;
}

@keyframes fadeInDown {
  to {
    opacity: 1;
    transform: translateY(-20px);
  }
}

.fade-out-up {
  animation: fadeOutUp 0.5s ease-out forwards;
}

@keyframes fadeOutUp {
  0% {
    opacity: 1;
    transform: translateY(20px);
  }

  50% {
    opacity: 0.5;
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    transform: translateY(-20px);
  }
}

.fade-in-from-right {
  opacity: 0;
  animation: fadeInFromRight 0.5s forwards;
}

@keyframes fadeInFromRight {
  0% {
    opacity: .8;
    transform: translateX(-100%);;
  }

  50% {
    opacity: 0.9;
    transform: translateX(0);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}