<div class="overflow-auto h-min w-content">
  <table id="budgetTable" class="border-collapse min-w-full bg-white">
    <thead class="text-nowrap focus:outline-none">
      <tr class="border-b-2 border-cyan-800 bg-cyan-700 text-stone-50"></tr>
      <tr class="text-stone-50">
        <th class="border-b-2 border-teal-400 bg-teal-300 px-4 py-2">
          Account
        </th>
        <th class="border-b-2 border-teal-500 bg-teal-400 px-4 py-2">Actual</th>
        <th class="border-b-2 border-teal-500 bg-teal-400 px-4 py-2">Budget</th>
        <th class="border-b-2 border-teal-500 bg-teal-400 px-4 py-2">
          Variance
        </th>
        <th class="border-b-2 border-r-2 border-teal-500 bg-teal-400 px-4 py-2">
          Percent
        </th>
        <th class="border-b-2 border-teal-900 bg-teal-800 border px-4 py-2">
          Forecasted Amount
        </th>
        <th class="border-b-2 border-teal-900 bg-teal-800 border px-4 py-2">
          Proposed Budget
        </th>
        <th class="border-b-2 border-teal-900 bg-teal-800 border px-4 py-2">
          Business Case Name
        </th>
        <th class="border-b-2 border-teal-900 bg-teal-800 border px-4 py-2">
          Business Case Amount
        </th>
        <th class="border-b-2 border-teal-900 bg-teal-800 border px-4 py-2">
          Comments
        </th>
        <th class="border-b-2 border-teal-900 bg-teal-800 border px-4 py-2">
          Total FY Budget
        </th>
      </tr>
    </thead>
    <tbody class="text-gray-600 text-nowrap">
      {% for budget_form in form.budgets %}
      <tr class="">
        {% for field in budget_form %} {% if not (field.type in ['HiddenField', 'CSRFTokenField']) %}
        <td class="px-4 py-2">
          {{ field(class="p-1") }}
        </td>
        {% endif %} {% endfor %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
<div class="my-3 flex items-center justify-end">
  <button
    id="submitBtn"
    class="bg-cyan-600 text-white font-semibold py-2 px-4 rounded transition duration-300 hover:bg-cyan-700 hover:shadow-md focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-cyan-500"
  >
    <i class="far fa-check-square mr-2"></i>
    Submit
  </button>
</div>

<script>
  // Column highlighting event listener
  document.addEventListener("DOMContentLoaded", () => {
    const headers = document.querySelectorAll("thead tr:nth-child(2) > th");

    headers.forEach((header, index) => {
      header.addEventListener("mouseover", () =>
        toggleCellHighlight(index, true)
      );
      header.addEventListener("mouseout", () =>
        toggleCellHighlight(index, false)
      );
    });

    function toggleCellHighlight(index, highlight) {
      const cells = document.querySelectorAll(
        `tbody tr td:nth-child(${index + 1})`
      );
      cells.forEach((cell) => {
        const isEvenRow = cell.parentElement.rowIndex % 2 === 0;
        const classToAdd = isEvenRow ? "bg-stone-100" : "bg-teal-200";
        highlight
          ? cell.classList.add(classToAdd)
          : cell.classList.remove(classToAdd);
      });
    }
  });
</script>
