<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
    <title>Budget Entry</title>
  </head>
  <body class="p-6">
    {% include 'header.html' %}
    <div class="overflow-auto">
      <table class="min-w-full bg-white">
        <thead class="text-nowrap">
          <tr class="text-stone-50">
            <th class="border-2 border-teal-500 bg-teal-400 px-4 py-2">Account</th>
            <th class="border-2 border-teal-500 bg-teal-400 px-4 py-2">RAD Description</th>
            <th class="border-2 border-teal-500 bg-teal-400 px-4 py-2">Account Code</th>
            <th class="border-2 border-teal-500 bg-teal-400 px-4 py-2">Actual</th>
            <th class="border-2 border-teal-500 bg-teal-400 px-4 py-2">Budget</th>
            <th class="border-2 border-teal-500 bg-teal-400 px-4 py-2">Variance</th>
            <th class="border-2 border-teal-500 bg-teal-400 px-4 py-2">Percent</th>
            <th class="border-2 border-teal-500 bg-teal-400 px-4 py-2">Actual</th>
            <th class="border-2 border-teal-500 bg-teal-400 px-4 py-2">Budget</th>
            <th class="border-2 border-teal-500 bg-teal-400 px-4 py-2">Variance</th>
            <th class="border-2 border-teal-500 bg-teal-400 px-4 py-2">Percent</th>
            <th class="border-2 border-teal-500 bg-teal-400 px-4 py-2">Actual to Date</th>
            <th class="border-2 border-teal-500 bg-teal-400 px-4 py-2">Budget</th>
            <th class="border-2 border-teal-900 bg-teal-800 border px-4 py-2">FY Proposed Budget</th>
            <th class="border-2 border-teal-900 bg-teal-800 border px-4 py-2">Includes One Time Cost</th>
            <th class="border-2 border-teal-900 bg-teal-800 border px-4 py-2">YOY Change</th>
            <th class="border-2 border-teal-900 bg-teal-800 border px-4 py-2">Comments</th>
            <th class="border-2 border-teal-900 bg-teal-800 border px-4 py-2">Business Name/ID</th>
            <th class="border-2 border-teal-900 bg-teal-800 border px-4 py-2">Comments</th>
            <th class="border-2 border-teal-900 bg-teal-800 border px-4 py-2">Business Case Amount</th>
            <th class="border-2 border-teal-900 bg-teal-800 border px-4 py-2">Total FY Budget</th>
          </tr>
          <tr class="border-2 border-teal-500 bg-teal-900 text-stone-50">
            <th colspan="3" class="border px-4 py-2"></th>
            <th colspan="3" class="border px-4 py-2">FY - 2</th>
            <th class="border px-4 py-2"></th>
            <th colspan="3" class="border px-4 py-2">FY - 1</th>
            <th class="border px-4 py-2"></th>
            <th colspan="2" class="border px-4 py-2">MO, FY</th>
          </tr>
        </thead>
        <tbody class="text-gray-600">
        </tbody>
      </table>
    </div>
  </body>
</html>
